body {
  color: #eee;
  background-color: #333;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.works {
  margin-top: 50px;
  margin-bottom: 40px;
}

p {
  text-align: center;
}

.current-town {
  width: 100%;
  min-height: 200px;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 500;
}

.current-town h4:after {
  width: 80px;
  height: 5px;
  position: absolute;
  display: block;
  content: "";
  background-color: orange;
  left: 50%;
  top: 70px;
  transform: translate(-50%, 0);
}

.current-town ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  display: block;
  float: left;
  padding: 0 10px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

.current-town ul {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.town-list {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 3px solid #eee;
  margin-top: 30px;
}

.item {
  font-size: 16px;
  font-weight: 600;
  list-style-type: none;
  transition: 0.3s all linear;
  cursor: pointer;
  border-bottom: 3px solid #eee;
  min-height: 160px;
}


.item:last-child {
  border-bottom: none;
}

.item span {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
}

.item span:before {
  content: "-";
  font-size: 18px;
  color: #fff;
  padding-right: 8px;
}

.item .item-title {
  font-size: 17px;
  font-weight: 600;
  color: orange;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 15px;
  margin-left: -10%;
}

.item.default-town {
  padding-top: 10px;
  padding-left: 10%;
  min-height: 120px;
  transition: background-color 0.4s linear;
}

.item.default-town:hover {
  background-color: #222;
  transition: background-color 0.4s linear;
}

.item.default-town .item-title {
  margin-bottom: -10px;
}

.item-data {
  width: 100%;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.4s linear;
  border-bottom: 2px solid #999;
}

.item-data:hover {
  transition: background-color 0.4s linear;
  background-color: #222;
}

.del  {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.del:hover {
  background-color: #222;
}

.add-town {
  width: 100%;
}

.add-town-wrapper {
  display: block;
  margin: auto;
  width: 380px;
}

.add-town button {
  width: 120px;
  height: 34px;
  margin-left: 0px;
  outline: none;
  background-color: transparent;
  border: 3px solid #eee;
  border-left: none;
  font-weight: 600;
  transition: background-color 0.8s linear;
  transition: color 0.4s linear;
}

.add-town button:hover {
  color: #fff;
  background-color: #444;
  transition: background-color 0.8s ease-in;
  transition: color 0.4s linear;
}

.add-town input {
  width: 250px;
  height: 34px;
  background-color: transparent;
  border: none;
  border: 3px solid #eee;
  border-right: none;
  outline: none;
  padding: 0 15px;
  transition: all 0.5s ease-in-out;
  color: #eee !important;
}

.add-town input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #eee;
  opacity: .7;
}
.add-town input::-moz-placeholder {
  /* Firefox 19+ */
  color: #eee;
  opacity: .7;
}
.add-town input:-ms-input-placeholder {
  /* IE 10+ */
  color: #eee;
  opacity: .7;
}
.add-town input:-moz-placeholder {
  /* Firefox 18- */
  color: #eee;
  opacity: .7;
}

.add-town input:focus {
  background-color: #444;
  transition: all 0.5s ease-in-out;
}

.warn-town-name {
  background-color: #753;
  width: 100%;
}

.warn-town-name .warn {
  padding-top: 35px;
  padding-bottom: 100px;
}

.warn-town-name .warn h3 {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

.warn .btn-warn {
  background-color: transparent;
  border: none;
  padding: 10px 25px;
  outline: none;
  margin-top: 15px;
  border: 3px solid #fff;
}

.warn .btn-warn-wrapper {
  width: 343px;
  display: block;
  margin: auto;
}

.warn .btn-warn.left {
  float: left;
}

.warn .btn-warn.right {
  float: right;
}

.preloader {
      margin: 300px auto;
      width: 70px;
      height: 30px;
      text-align: center;
      font-size: 10px;
    }

.preloader > div {
  background-color: #72c2a1;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  
  -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
  animation: stretchdelay 0.7s infinite ease-in-out;
}

.preloader .circ2 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.preloader .circ3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.preloader .circ4 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.preloader .circ5 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: translateY(-10px) }  
  20% { -webkit-transform: translateY(-20px) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  } 20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
}

@media screen and (max-width: 550px) {
  .current-town ul {
    display: block;
    margin-top: 30px;
  }

  .current-town ul li {
    display: inline-block;
    width: 100%;
  }

  .current-town h4:after {
    top: 130px;
  }

  .current-town {
    padding-top: 80px;
  }

  .add-town-wrapper {
    width: 100%; 
  }

  .add-town-wrapper input{
    width: 70%; 
  }

  .add-town-wrapper button{
    width: 30%; 
  }
}

@media screen and (max-width: 550px) {
  .warn .btn-warn-wrapper {
    width: 100%;
  }

  .warn .btn-warn-wrapper .btn-warn {
    margin: auto;
    display: block;
    float: none;
    margin-top: 20px;
  }

  .warn-town-name .warn {
    padding-bottom: 20px;
  }  
}